* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template:
    'header header header header'auto
    'left-menu emails settings shortcuts' 1fr /
    180px 1fr 180px auto;
}

.header {
    grid-area: header;
    background-color: #ff000040;
}

.left-menu {
    grid-area: left-menu;
    background-color: #00ff0040;
}
  
.emails {
    grid-area: emails;
    background-color: #0000ff40;
}

.settings {
    grid-area: settings;
    background-color: #ff00ff40;
}

.shortcuts {
    grid-area: shortcuts;
    background-color: #00ffff40;
}

@media screen and (max-width: 740px) {
    body {
        grid-template:
        'header header header header'auto
        'left-menu emails settings shortcuts' 1fr /
        180px 1fr 180px auto;
    }

    .shortcuts {
        display: none;
    }  
}

@media screen and (max-width: 670px) {
    body {
        grid-template:
        'header header' auto
        'left-menu emails' 1fr 
        'left-menu settings' 200px /
        180px 1fr;
    }
}

@media screen and (max-width: 670px) {
    body {
        grid-template:
        'header header' auto
        'left-menu emails' 1fr 
        'left-menu settings' 200px /
        50px 1fr;
    }
}